.wrapper
  .side-ber
    .side-ber__user
      .side-ber__box
        %p.side-ber__box__left
          = current_user.name
        %ul.side-ber__box__right
          %li.side-ber__box__right__mark1
            = link_to new_group_path do
              = icon('fas', 'edit', class: 'icon')
          %li.side-ber__box__right__mark2
            = link_to edit_user_path(current_user) do
              = icon('fas', 'cog', class: 'icon')





    .side-ber__groups
      - current_user.groups.each do |group|
        .side-ber__group
          = link_to group_messages_path(group) do
            .side-ber__group__name 
              = group.name
            .side-ber__group__message 
              = group.show_last_message

              
          




